parameters:
	ignoreErrors:
		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 10
			path: templates/Admin/Photos/upload.php

		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 9
			path: templates/Admin/PhotosAlbums/add.php

		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 9
			path: templates/Admin/PhotosAlbums/edit.php

		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 23
			path: templates/Admin/common/Photos/index.php

		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 20
			path: templates/Photos/view.php

		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 15
			path: templates/PhotosAlbums/view.php

		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 5
			path: templates/cell/PhotosWidgets/albums_as_form.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: templates/cell/PhotosWidgets/albums_as_list.php

		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 3
			path: templates/cell/PhotosWidgets/albums_as_list.php

		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 3
			path: templates/cell/PhotosWidgets/latest.php

		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 3
			path: templates/cell/PhotosWidgets/random.php

		-
			message: "#^Variable \\$link might not be defined\\.$#"
			count: 1
			path: templates/element/views/photo-preview.php

		-
			message: "#^Variable \\$path might not be defined\\.$#"
			count: 1
			path: templates/element/views/photo-preview.php

		-
			message: "#^Variable \\$this might not be defined\\.$#"
			count: 3
			path: templates/element/views/photo-preview.php

		-
			message: "#^Parameter \\#1 \\$array of function array_values expects array, iterable given\\.$#"
			count: 2
			path: tests/TestCase/Controller/PhotosAlbumsControllerTest.php

