parameters:
    level: 6

    paths:
        - config
        - src
        - templates
        - tests

    bootstrapFiles:
        - tests/bootstrap.php

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false

    excludes_analyse:
        - config/Migrations/
        - tests/test_app/

    ignoreErrors:
        - '#^Constant [\w\_]+ not found\.$#'
        - '#^Call to an undefined method Cake\\(Controller\\(Controller|Component\\(Auth|Flash)Component)|Datasource\\RepositoryInterface|Core\\PluginApplicationInterface|Http\\ServerRequest|ORM\\Association\\BelongsToMany)#'
        - '#^(Access|Call) to an undefined (method|property) (Cake\\ORM\\|MeCms\\Photos\\Model\\Table\\\w+)Table#'

        -
            message: '#expects MeCms\\ORM\\Query, Cake\\ORM\\Query given\.$#'
            path: src/Controller

        -
            message: '#^Access to an undefined property MeCms\\Photos\\View\\Cell\\PhotosWidgetsCell::\$Photos\.$#'
            path: src/View/Cell/PhotosWidgetsCell.php

        -
            message: '#^Access to an undefined property MeCms\\Photos\\View\\Helper\\TopbarHelper::\$Html\.$#'
            path: src/View/Helper/TopbarHelper.php

        -
            message: '#^(Undefined variable: \$this|Variable \$\w+ might not be defined\.)$#'
            path: templates

        -
            message: '#no (return )?typehint specified\.$#'
            path: tests/TestCase

        -
            message: '#Call to an undefined method Cake\\View\\Helper\|PHPUnit\\Framework\\MockObject\\MockObject::photos\(\)\.$#'
            path: tests/TestCase/View/Helper/MenuHelperTest.php
