includes:
    - phpstan-baseline.neon

parameters:
    level: 8

    paths:
        - config
        - src
        - templates
        - tests

    bootstrapFiles:
        - tests/bootstrap.php
        - config/bootstrap.php
        - vendor/mirko-pagliai/cakephp-thumber/config/bootstrap.php
        - vendor/mirko-pagliai/me-cms/config/bootstrap.php

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false

    excludes_analyse:
        - config/Migrations/
        - tests/test_app/
